.hashtags-comment-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#membership-msg{
  background: red;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  min-height: 40px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-direction: column
}

.hashtags-comment-container div {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  background: cadetblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fa-trash {
  color: rgb(255, 255, 255);
  margin: 5px;
  transition-duration: 0.3s;
}

.fa-trash:hover {
  cursor: pointer;
  transform: scale(1.5);
  color: rgb(207, 35, 35);
}

#loading-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  flex-direction: column;
}

.fa-pulse {
  font-size: 5em;
}
